<header class="bg-blue-900 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-2xl font-bold">Dog Breeding Company</div>
    <nav>
      <ul class="flex space-x-6">
        <li><a href="/" class="hover:text-blue-300">Home</a></li>
        <li><a href="/males" class="hover:text-blue-300">Males</a></li>
        <li><a href="/females" class="hover:text-blue-300">Females</a></li>
        <li><a href="/breedings" class="hover:text-blue-300">Breedings</a></li>
        <li><a href="/contact" class="hover:text-blue-300">Contact</a></li>
      </ul>
    </nav>
  </div>
</header> 